// NEW RULES

// Mobile viewport
@media only screen and (max-width: 767.99px) {
	.navItem {
		margin: 0 9px;
	}
	.product-card {
		grid-column: span 12;
	}
}

// extra rule to make shopping cart stick to rightmost section of screen
@media screen and (min-width: 860px) {
	#shopping-cart {
		position: absolute;
	}
}

// Tablet viewport
@media only screen and (min-width: 768px) and (max-width: 1400px) {
	.navItem {
		margin: 0 18px;
		font-size: 14px;
	}

	.btnToggleFilter {
		display: none;
	}

	#product-filters {
		display: grid;
	}

	.btnFilter {
		grid-column: span 1;
	}

	.info {
		font-size: 16px;
	}

	.price-information {
		margin-top: 8px;
	}

	.product-card {
		grid-column: span 6;
	}

	#product-details {
		.product-information,
		.image {
			grid-column: span 6;
		}
	}
}

// Desktop viewport
@media only screen and (min-width: 1400px) {
	body {
		background-image: url("../img/background-image.jpeg");
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;
	}

	nav {
		background-color: $background-color-white;
		height: 65px;
		border-bottom: 1px solid $color-border-navigation-border;
		a.navItem {
			border-bottom: 3px solid transparent;
			line-height: 61px;
			font-size: 16px;
			margin: 0 16px;
			padding: 0;
			transition: border-bottom 0.2s;
			&:hover {
				color: $color-text-black;
				border-bottom: 3px solid $color-text-black;
			}
		}
	}

	.image,
	.product-information {
		grid-column: span 6;
	}
	
	.btnToggleFilter {
		display: none;
	}

	.product-card {
		grid-column: span 4;
	}

	.info {
		font-size: 16px;
		.brand-page-link {
			font-weight: 300;
		}
	}

	#app {
		margin: auto;
		max-width: 1040px;
	}

	#navbar-products-list {
		padding-bottom: 0;
		clip-path: none;
		.navItem {
			line-height: 60px;
			z-index: 10;
		}
		a.selected {
			color: $color-text-navbar-desktop;
			border-bottom: 3px solid $color-text-navbar-desktop;
		}
	}

	#navbar-product-details {
		height: 64px;
	}

	#product-details {
		.product-information,
		.image {
			grid-column: span 6;
		}
	}
	
	#product-filters {
		display: grid;
	}

	#products-list {
		margin: 0;
		padding: 16px;
	}

	#product-details,
	.product-information {
		font-size: 16px;
	}

	#shopping-cart {
		width: 64px;
		position: absolute;
		margin: 0;
		right: 0;
		color: $color-text-navbar-desktop;

		.cart-icon {
			font-size: 30px;
			vertical-align: baseline;
		}
		.cart-text {
			font-size: 12px;
			color: $color-text-black;
			left: 17px;
			top: 15px;
			display: block;
			position: absolute;
		}
		&:hover {
			color: darken($color-text-navbar-desktop, 10%);
		}
	}
}
