
* {
	// A neat debug trick to see how elements behave, use during debug only!
	// outline: 1px solid magenta;
}

html,
body {
	font-family: roboto;
	font-style: normal;
	font-size: 14pt;
}

#app {
    width: 100%;
    min-height: 100vh;
    background-color: $background-color-white;
}

nav {
	z-index: 10;
	position: sticky;
	margin: 0;
	top: 0;
	background-color: $background-color-navbar-mobile;
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
	scrollbar-width: none;
	font-size: 14px;
	
}

a.navItem {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    line-height: 48px;
    text-transform: uppercase;
    border-bottom:3px solid transparent;
    color: $color-text-black;
	transition: color .1s;
        &:hover {
            color: $color-text-white;
        }
}

a.selected {
	color: $color-text-white;
	border-bottom: 3px $color-text-white solid;
}

main {
	display: block;
	position: relative;
}

a.brand-page-link {
	z-index: 10;
}

a.brand-page-link:hover {
	text-decoration: underline;
}

.visual {
	width: 100%;
	position: relative;
	aspect-ratio: 1;

	.image {
		aspect-ratio: 1/1;
		img {
			display: block;
			top: 0;
			margin: auto;
			width: auto;
			height: 100%;
		}
	}
}

.labels {
	position: absolute;
	top: 10px;
	left: 10px;
	width: fit-content;
	.new {
		background-color: $background-color-label-new;
	}
	.discount {
		background-color: $background-color-label-discount;
	}
	.new,
	.discount {
		text-transform: uppercase;
		line-height: 20px;
		font-size: 12px;
		border-radius: 4px;
		padding: 0 4px;
		margin-bottom: 5px;
		width: min-content;
	}
}

.info {
	font-size: 14px;
}

.price-information {
	margin-top: 12px;
}

.oldPrice {
	text-decoration: line-through;
    margin-right: 10px; 
}

.discountPrice {
	color: $color-text-discount;
}

#products-list {
    min-height: 100%;
	background-color: $background-color-white;
	position: relative;
    max-width: 100%;
	align-content: center;
	margin: 16px;
	display: grid;
	column-gap: 15px;
	row-gap: 20px;
	grid-template-columns: repeat(12, minmax(0, 1fr));
}

#background-overlay {
    background-color: #ffffffcc;
}

#shopping-cart{
    width: 48px;
    margin: 0;
    right: 0;
    
    span {
        vertical-align: middle;
    }

	.cart-text {
		display: none;
	}
}