// Mobile viewport
@media only screen and (max-width: 767.99px) {
	.navItem {
		margin: 0 7px;
	}
	.product-card {
		grid-column: span 12;
	}
}

// Tablet viewport
@media only screen and (min-width: 768px) and (max-width: 1400px) {
	.navItem {
		margin: 0 16px;
		font-size: 14px;
	}

	.info {
		font-size: 16px;
	}

	.product-card {
		grid-column: span 6;
	}

	.price-information {
		margin-top: 8px;
	}

	#products-list {
		margin: 18px;
	}
}

// Desktop viewport
@media only screen and (min-width: 1280px) {
	body {
		background-image: url("../img/background-image.jpeg");
		background-size: cover;
		background-repeat: no-repeat;
        background-attachment: fixed;
	}

	nav {
		background-color: $background-color-white;
		height: 64px;
		border-bottom: 1px solid $color-border-navigation-border;
		.navItem {
            border-bottom:3px solid transparent;
			line-height: 61px;
			font-size: 16px;
			margin: 0 16px;
		}
		a.selected {
			color: $color-text-navbar-desktop;
			border-bottom: 3px solid $color-text-navbar-desktop;
		}
	}

    #shopping-cart{
        width: 64px;
        span {
            line-height: 64px;
        }
        :hover{
            color: darken($color-text-navbar-desktop, 10%);
        }
    }

	#products-list {
		margin: 0;
		padding: 16px 20px;
	}
	.product-card {
		grid-column: span 4;
	}

	#app {
		margin: auto;
        max-width: 1040px;

    }

	#shopping-cart {
		color: $color-text-navbar-desktop;
	}
}
